.main-box-one {
    display: flex;
    
    align-items: end;
    justify-content: space-between;
}

.main-box-one-img {    
    padding-top: 100px;

    margin-bottom: 212.92px;
}

.main-box-one-titlle {
    color: var(--azul-marinho-escuro);

    font-size: 52px;
    font-weight: 700;

    margin-bottom: 30px;
}

.main-box-one-p {
    margin-bottom: 90px;
    font-size: 25px;
    font-weight: 400px;

    color: var(--azul-marinho-escuro);
}

.main-box-one-button {
    color: var(--azul-claro);
    background: var(--azul-marinho-escuro);

    font-size: 25px;
    font-weight: 700;

    border: none;
    border-radius: 10px;

    width: 350px;

    padding: 20px 108px;
    margin-bottom: 229px;
}

.main-box-one-texts {
    width: 500px;
}

.main-section-two {
    display: flex;

    background: var(--azul-marinho-escuro);

    padding-right: 3%;
    padding-left: 3%;
}

.main-section-two-titlle {
    color: #ffffff;

    font-size: 52px;

    margin-bottom: 30px;
}

.main-section-two-texts {
    padding-top: 191px;
    padding-bottom: 191px;

    font-size: 30.23px;
    font-weight: 400;

    width: 600px;
    justify-content: space-between;
}

.main-section-two-paragraph {
    color: #ffffff;
}

.main-section-two-img {
    padding-top: 198.23px;
    padding-bottom: 190px;
}

.main-section-three {
    display: flex;

    padding-right: 3%;
    padding-left: 3%;
}

.main-section-three-texts {
    padding-top: 48px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

.main-section-three-titlle {
    color: var(--azul-marinho-escuro);
    font-size: 52px;
    font-weight: 700;

    margin-bottom: 30px;
}

.main-section-three-img {
    width: 729.34px;
    height: 382.86px;

    padding-top: 210.66px;

    display: block;

    margin-bottom: 234.69px;
}

.form-text {
    font-size: 37px;
    font-weight: 700;

    margin-top: 30px;
}

.form-box {
    width: 500px;
    height: 60px;

    border-radius: 19.15px;

    border: var(--azul-marinho-escuro) solid 2px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box {
    width: 500px;
    height: 309px;
    margin-top: 10px;

    border-radius: 19.15px;
    border: var(--azul-marinho-escuro) solid 2px;
} 

.form-button {
    padding: 17px 43px;

    margin-top: 15px;

    font-size: 35.46px;
    font-weight: 700;

    color: #ffffff;
    background: var(--azul-marinho-escuro);

    border-radius: 19.2px;

    margin-bottom: 96.7px;
}

.container-mobile-opnions {
    background: var(--azul-marinho-escuro);
}

.container-mobile {
    display: flex;
    flex-direction: column;

    justify-items: center;

    margin: 0 auto;
    width: 130px;

    color: #ffffff;
}

.title-opnion {
    font-size: 24px;
    font-weight: 700;

    color: #ffffff;
    align-items: center;

    margin: 0 auto;
    width: 324px;

    margin-bottom: 50px;
}

.opnion-cliente {
    width: 200px;
    height: 80px;
    
    font-style: italic;
    font-weight: 400;   
}

.box-profile {
    margin-bottom: 37px;
}

.photo-profile {
    margin-bottom: 8px;
}

.name-cliente {
    font-size: 14px;
    font-weight: 700;

    margin: 0 auto;
}

.teste2{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 9px;
}
