.main-box {
    display: flex;
    flex-direction: row;
    
    align-items: end;
    justify-content: space-between;
}

.main-section-one-texts {
    display: flex;
    flex-direction: column;

    width: 500px;

    padding-bottom: 100px;
}

.main-section-one-titlle {
    color: var(--azul-marinho-escuro);

    font-size: 52px;
    font-weight: 700;

    padding: 120px 30px 30px 0;
}

.main-section-one-paragraph {
    margin-bottom: 30px;

    font-size: 25px;
    font-weight: 400px;

    color: var(--azul-marinho-escuro);
}

.main-section-one-button {
    color: var(--azul-claro);
    background: var(--azul-marinho-escuro);

    font-size: 25px;
    font-weight: 700;

    border: none;
    border-radius: 10px;

    width: 350px;

    padding: 20px 108px;
    margin-bottom: 120px;

    
}

.main-section-one-img {    
    display: block;
    
    margin: 200px 0;

}

.color-box-two {
    background: var(--azul-marinho-escuro);

}

.main-section-two-titlle {
    color: #ffffff;

    font-size: 52px;

    margin-bottom: 30px;
}

.main-section-two-texts {
    padding-bottom: 191px;

    width: 500px;

    font-size: 30.23px;
    font-weight: 400;

    width: 600px;
    justify-content: space-between;
}

.main-section-two-paragraph {
    color: #ffffff;
}

.main-section-two-img {
    padding-top: 198.23px;
    padding-bottom: 190px;
}

.main-section-contact {
    display: flex;

    padding-right: 3%;
    padding-left: 3%;
}

.main-section-three-texts {
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-section-three-titlle {
    color: var(--azul-marinho-escuro);
    font-size: 3.5rem;
    font-weight: 700;

    margin-bottom: 30px;
}

.main-section-three-img {
    width: 729.34px;
    height: 382.86px;

    padding-top: 210.66px;

    display: block;

    margin-bottom: 234.69px;
}

.label-contact {
    font-size: 26px;
    font-weight: 700;
}

.form-box {
    width: 99%;
    height: 50px;

    border-radius: 10px;

    border: var(--azul-marinho-escuro) solid 1px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.text-box {
    width: 99%;
    height: 150px;
    margin-top: 10px;

    padding: 5px;

    border-radius: 10px;
    border: var(--azul-marinho-escuro) solid 1px;
} 

.form-button {
    padding: 10px 20px;

    margin-top: 15px;
    margin-bottom: 96.7px;

    font-size: 26px;
    font-weight: 700;

    color: #ffffff;
    background: var(--azul-marinho-escuro);

    border-radius: 19.2px;

    display: block;
}

.section-mobile-opnions {
    background: var(--azul-marinho-escuro);
}

.side-nav  {
    display: none;

}

.container-mobile {
    display: flex;
    flex-direction: column;

    justify-items: center;

    margin: 0 auto;
    width: 130px;

    color: #ffffff;
}

.title-opnion {
    font-size: 24px;
    font-weight: 700;

    color: #ffffff;
    text-align: center;

    margin: 0 auto;
    width: 324px;

    margin-bottom: 50px;
}

.opnion-cliente {
    width: 200px;
    height: 80px;
    
    font-style: italic;
    font-weight: 400;
    
    text-align: center;
}


.photo-profile {
    width: 125px;
    height: 125px;
    margin: 0 auto;
}

.name-cliente {
    font-size: 14px;
    font-weight: 700;

    margin: 0 auto;
    text-align: center;
}

.teste2{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-between;

    margin-bottom: 9px;
}

