@media screen and (max-width: 480px) {
    header {
        width: 88%;
    }

    .logo {
        width: 159px;
        height: 39px;
    }

    .main-box, .main-section-contact{
        flex-direction: column;
    }

    .header-nav-ul, .footer-logo, .footer-paragraph {
        display: none;
    }

    .icons {
        margin-right: 100px;
    }
    
    .icons:nth-child(3n) {
        margin-right: 0px; 
    }

    .main-section-one-texts, .main-section-two-texts {
        width: 100%;

        padding: 0;
    }

    .main-section-one-titlle {
        font-size: 45px;
    }

    .main-section-one-button {
        width: 200px;;
        padding: 20px;
        margin-bottom: 10px;
        font-size: 24px;

        
    }

    .main-section-one-img {
        width: 300px;
        height: 300px;
        margin: 20px auto;
        padding: 0;
        align-items: center;
    }

    .main-section-one-p, .main-section-two-paragraph {
        font-size: 16px;
    }

    .main-section-two-img {
        width: 335px;
        height: 210.92px;

        padding: 0;
        margin: 30px auto 60px auto;
    }

    .main-section-three-img {
        max-width: 414px;
        height: 183.45px;
        margin: 0 auto;
        display: flex;
        flex-wrap: initial;
        padding: 0;
        padding-bottom: 5px;
    }

    .main-section-two-titlle, .main-section-three-titlle {
        font-size: 24px;
        font-weight: 700;

        padding-top: 30px;
    }

    .form-box {
        width: 95%;
        height: 31px;
        border: 0.7px solid #132235;
        border-radius: 10px;
        padding: 0 15px;
        font-weight: 400;
        font-size: 14px;
        color: #132235;

        padding: 5px;
    }

    .text-box {
        width: 95%;
        
        border: 0.7px solid #132235;
        border-radius: 10px;
        padding: 0 15px;
        font-weight: 400;
        font-size: 14px;
        color: #132235;

        padding: 5px;
    }

    .label-contact {
        font-size: 1rem;
        font-weight: 700;

        display: block;
    }

    .form-button {
        font-size: 1rem;
        font-weight: 700;

        padding: 5px 10px;
        border-radius: 7px;

        border: none;

       

        margin: 30px auto;
    }

    .main-section-three-texts {
        display: flex;
        flex-direction: column;
        margin: 0;

        width: auto;    
    }

    .section-mobile-opnions {
        padding-bottom: 30px;
    }

    .name-cliente {
        margin: 8px 0;
    }

    .opnion-cliente {
        align-self: center;
    }
}

@media screen and (min-width: 800px) {
    .section-mobile-opnions, .dropdown {
        display: none;
    }

    
}


