* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;;
}

:root {
    --azul-marinho-escuro: #132235;
    --azul-claro: #6DDAD3;
    --cinza: #d05b5b;
}

.container {
    padding-left: 6%;
    padding-right: 6%;
}

